<!DOCTYPE html>
<html>
<head>
    <title>Registro en Programa</title>
</head>
<body>
    <h1>Registro en Programa</h1>
    <form action="/unirse-programa" method="POST">
        <label for="programa_id">Nombre del Programa:</label>
        <input type="text" name="programa_id" id="programa_id" placeholder="Ingresa el ID del programa" required>
        <br><br>
    
        <label for="voluntario_id">ID del Voluntario:</label>
        <input type="text" name="voluntario_id" id="voluntario_id" placeholder="Ingresa el ID del voluntario" required>
        <br><br>
    
        <input type="submit" value="Registrarse en el Programa">
    </form> 
       
</body>
</html>