<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Programas</title>
</head>
<body>
    <h1>Formulario de Programas</h1>
    <form action="/create-programa" method="POST">
        <label for="nombre">Nombre del Programa:</label>
        <input type="text" name="nombre" id="nombre" required>
        <br><br>
        
        <label for="descripcion">Descripción del Programa:</label>
        <textarea name="descripcion" id="descripcion" rows="4" required></textarea>
        <br><br>
        
        <input type="submit" value="Registrar Programa">
        
    </form>
</body>
</html>
