<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Formulario Voluntario</title>
</head>
<body>
    <div class="container mt-3">
        <form action="/create-voluntario" method="POST" id="formulario_voluntario">
            <h1>Ingrese el Voluntario</h1>
            <div class="mb-3">
                <label for="ID" class="form-label">ID</label>
                <input type="text" class="form-control" id="ID" name="ID">
            </div>
            <div class="mb-3">
                <label for="Nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre">
            </div>
            <div class="mb-3">
                <label for="Apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="Apellido" name="Apellido">
            </div>
            <div class="mb-3">
                <label for="Telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="Telefono" name="Telefono">
            </div>
            <div class="mb-3">
                <label for="Intereses" class="form-label">Intereses</label>
                <input type="text" class="form-control" id="Intereses" name="Intereses">
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
            
        </form>
    </div>

</body>
</html>