<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenido a NonProfitOrganization</h1>
    <div>
        <a href="/register-voluntario"><h2>Registrar voluntario</h2></a>
        <a href="/voluntarios"><h2>Voluntarios</h2></a>
        <a href="/eliminar-voluntario"><h2>eliminar voluntario</h2></a>
        <br>
        <a href="/register-programa"><h2>Registrar programa</h2></a>
        <a href="/programas"><h2>Programas</h2></a>
        <a href="/asignar-programa"><h2>Asignar programa</h2></a>
        <br>

    </div>
</body>
</html>